{% extends 'base.html' %}
{% load static %}
  {%block title %}
  AAC NITK:EVENTS
  {% endblock title %}

  {% block styscr %}  
        
        
  {% endblock styscr %} 

  {%block body %}
      <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {%for event in events%}
      {% if forloop.counter0 == 0 %}
       <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
      {%else%}
         <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
      {% endif %}
      
      {%endfor%}
    </ol>
      <div class="carousel-inner" >
     {%for event in events%}
      {% if forloop.counter == 1 %}
       <div class="carousel-item active">
      {%else%}
        <div class="carousel-item">
      {% endif %}
      
      <div class="card mb-3 mx-auto" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{event.image.url}}" class="card-img" alt="error">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text"><small class="text-muted">{{event.registration_url}}</small></p>
      </div>
    </div>
  </div>
</div>
</div>




      {%endfor%}
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
    </div>
      
    
      
   

{% endblock body %}